[include gcode_macro.cfg]
[include input_shaper.cfg]
[include load_cell.cfg]
[include fan.cfg]
[include ../../mainsail-config/mainsail.cfg]

[mcu]
serial: /dev/ttyS1
baud:230400
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 2000
minimum_cruise_ratio: 0.5
max_z_velocity: 15
square_corner_velocity: 5.0
max_z_accel: 200

[force_move]
enable_force_move: True

[virtual_sdcard]
path: /usr/data/printer_data/gcodes

[exclude_object]

[idle_timeout]
timeout: 900
gcode:
    M104 S0         ; Hotend heater off
    M140 S0         ; Bed heaer off

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40.4286
endstop_pin: !PA5
position_endstop: -12
position_min: -12
position_max: 221
homing_speed: 30

[tmc2208 stepper_x]
uart_pin:PB12
# Creality standard: 0.75. Runs a little hot, so i reduced
run_current:0.70
sense_resistor: 0.150
stealthchop_threshold: 0

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 60.6429
endstop_pin: !PA6
position_endstop: -20
position_min: -20
position_max: 223
homing_speed: 30

[tmc2208 stepper_y]
uart_pin:PB13
# Creality standard: 0.75. Runs a little hot, so i reduced
run_current:0.70
sense_resistor: 0.150
stealthchop_threshold: 0

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance:8.0160
#PA15   #probe:z_virtual_endstop
endstop_pin:probe:z_virtual_endstop
# Reduce to 220 mm for safety (factory: 246)
position_max: 220
position_min: -5

[tmc2208 stepper_z]
uart_pin: PB14
# Creality standard: 0.80. Runs a little hot, so i reduced
run_current:0.70
stealthchop_threshold: 0
sense_resistor: 0.150

[bltouch]
sensor_pin:PC14
control_pin: PC13
x_offset: 0
y_offset: 27
z_offset: 1.2
probe_with_touch_mode: true
stow_on_each_sample: false
speed:5
lift_speed:20

[safe_z_home]
home_xy_position: 110,110
speed: 120
z_hop: 10
z_hop_speed: 20
move_to_previous: false

[filament_switch_sensor filament_sensor]
switch_pin: !PC15
pause_on_runout: true

[extruder]
max_extrude_only_distance:1000
max_extrude_cross_section:80
pressure_advance = 0.036
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.30
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control = pid
pid_kp = 22.701
pid_ki = 1.645
pid_kd = 78.320
min_temp: 5
max_temp: 300

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control = pid
pid_kp = 72
pid_ki = 1.4
pid_kd = 800
min_temp: 5
max_temp: 100

[verify_heater extruder]
[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 5
max_temp: 100

[bed_mesh]
speed: 250
mesh_min: 10,10
mesh_max: 210,210
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
horizontal_move_z: 5
# An optional margin (in mm) to be added around the bed area used by the defined print objects when generating an adaptive mesh.
adaptive_margin: 10
